extends layout

block content
  h1=title
  div#contenedor
    .rutas
      a(href='Home')
        p Home
      a(href='Razas')
        p Razas
      a(href='Todas')
        p Todas
    .seleccionar
      form#cargardatos(action="/filtrado" method="POST")
        h1 Introduce los datos para buscar el perrito ideal para ti!
        
        label(for="razas") Razas:
        select(name='razas')
          option(val='seleccionar') Selecciona una raza
          option(val='airedale') Airedale
          option(val='akita') Akita
          option(val='bulldog') Bulldog
          option(val='chihuahua') Chihuahua
          option(val='chowchow') Chow Chow
          option(val='doberman') Doberman
          option(val='escoces') Escoces
          option(val='jackrussel') Jackrussel
          option(val='pitbull') Pitbull
          option(val='pomeranian') Pomeranian
          option(val='whiteterrier') White Terrier
          option(val='yorkshire') Yorkshire Terrier
        
        label(for="tamano") Tamaño:
        select(name='tamano')
          option(val='seleccionar') Selecciona el tamano
          option(val='pequeno') Pequeno
          option(val='mediano') Mediano
          option(val='grande') Grande
        
        label(for="edad") Edad:
        select(name='edad')
          option(val='seleccionar') Selecciona la edad
          option(val='cachorro') Cachorro
          option(val='adulto') Adulto
        input#btn-filter(type="submit" value="enviar")       
